<h1>Pink Floyd</h1>

<h2>Comfortably numb</h2>

<h3>How to play - chords</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_kd3r3OXkns" frameborder="0" allowfullscreen></iframe>

<h3>How to play - main solo</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UzdVHfFIEvo" frameborder="0" allowfullscreen></iframe>

<h3>How to play - outro solo - first half</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jUZo2WLvLNM" frameborder="0" allowfullscreen></iframe>

<h3>How to play - outro solo - second half</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/48LWcYx75ks" frameborder="0" allowfullscreen></iframe>

<h3>Chords</h3>

<pre><code>
http://www.tabs4acoustic.com/en/guitar-tabs/pink-floyd-tabs/comfortably-numb-acoustic-tab-368.html

Intro: [Bm][Bm]


1st verse:
Bm                      A
Hello, Is there anybody in there ?
                    G  -    Em   -
Just nod if you can hear me
         Bm
Is there anyone at home ?
Bm                        A
Come on, now, I hear your feeling down
  G   -         Em  -
I can ease your pain
            Bm
And get you on your feet again
Bm                         A
Relax, I'll need some information first
G   -          Em   -
Just the basic facts
        Bm
Can you show me where it hurts?


Chorus :
D                           A
 There is no pain you are receding
D                              A
 A distant ship smoke on the horizon
C                               G
 You are only coming through in waves
     C                                      G
Your lips move but I can't hear what you're saying
     D                      A
When I was a child I had a fever
   D                            A
My hands felt just like two balloons
C                               G
Now I've got that feeling once again
                               C
I can't explain, you would not understand
                  G
This is not how I am
A    C   -    G   -            D
I_____ have become comfortably numb


Solo:
[A][D][A][D]
[C][G][C][G]

A    C   -    G   -            D
I_____ have become comfortably numb


2nd verse:
Bm                A
OK, Just a little pinprick
                     G  -     Em  -
There'll be no more (Aaaaaah!)
            Bm
But you may feel a little sick
         Bm                         A
Can you stand up? I do believe it's working, good
                 G   -             Em   -
That'll keep you going through the show
     Bm
Come on it's time to go



Chorus:
D                           A
 There is no pain you are receding
D                              A
 A distant ship smoke on the horizon
C                               G
 You are only coming through in waves
     C                                      G
Your lips move but I can't hear what you're saying
     D                         A
When I was a child, I caught a fleeting glimpse
D                        A
 Out of the corner of my eye
C                            G
 I turned to look but it was gone
                       C
I cannot put my finger on it now
                        G
The child is grown, the dream is gone
A    C   -    G   -            D      D
I_____ have become comfortably numb


Outro :
[Bm][A][G-Em][Bm] x4
</code></pre>
