<h1>Pink Floyd</h1>

<h2>Comfortably numb</h2>

<h3>How to play - chords</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_kd3r3OXkns" frameborder="0" allowfullscreen></iframe>

<h3>How to play - main solo</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UzdVHfFIEvo" frameborder="0" allowfullscreen></iframe>

<h3>How to play - outro solo - first half</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/jUZo2WLvLNM" frameborder="0" allowfullscreen></iframe>

<h3>How to play - outro solo - second half</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/48LWcYx75ks" frameborder="0" allowfullscreen></iframe>
