<h1>Pink Floyd</h1>

<h2>Comfortably numb</h2>

<h3>How to play</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/EzykUoOyfX4" frameborder="0" allowfullscreen></iframe>

<h3>Backing tracks</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/8uve-JgHuyg" frameborder="0" allowfullscreen></iframe>

<h3>Chords / Tabs</h3>

<pre><code>
http://tutarras.com.ar/tablaturas/comfortably-numb/

Bm
Hello
                 A
Is there anybody in there ?
                    G      D/F# Em
Just nod if you can hear me
   Bm
Is there anyone at home ?

Come on now
            A
I hear your feeling down
G             D/F#  Em
I can ease your pain
   Bm
And get you on your feet again

Relax
                    A
I'll need some information first
G           D/F#  Em
Just the basic facts
       Bm
Can you show me where it hurts?




D                          A
There is no pain you are receding
D                             A
A distant ship smoke on the horizon
C                                  G
You are only coming through in waves
C                                             G
Your lips move but I can't hear what you're saying
     D                       A
When I was a child I had a fever
   D                              A
My hands felt just like two ballons
C                                  G
Now I've got that feeling once again
                                  C
I can't explain, you would not understand
                    G
This is not how I am
A    C         G            D
I      have become comfortably numb.



ESTRIBILLOS ARPEGGIO

D

e|--5-------5-------5-------5-------|
B|----7-5-----7-5-----7-5-----7-5---|
G|--------7-------7-------7-------7-|
D|----------------------------------|
A|----------------------------------|
E|----------------------------------|


A

e|--5-------5-------5-------5-------|
B|----5-------5-------5-------5-----|
G|------7-6-----7-6-----7-6-----7-6-|
D|----------------------------------|
A|----------------------------------|
E|----------------------------------|

A

e|----------------------------------|
B|--5-2-----5-2-----5-2-----5-2-----|
G|------4-2-----4-2-----4-2-----4-2-|
D|----------------------------------|
A|----------------------------------|
E|----------------------------------|

C

e|--3-------3-------3-------3--------|
B|----5-3-----5-3-----5-3-----5-3----|
G|--------5-------5-------5-------5--|
D|-----------------------------------|
A|-----------------------------------|
E|-----------------------------------|

G

e|--3-------3-------3---------------|
B|----3-------3-------3-----------3-|
G|------5-4-----5-4-----5-4---4-5---|
D|--------------------------5-------|
A|----------------------------------|
E|----------------------------------|



solo 1

e|-----x----14-14b15r14---------------------------------|
B|---x--------------------15b17-15-14-14----------------|
G|-x-------------------------------------14-------------|
D|------------------------------------------14---/12-12~|
A|------------------------------------------------------|
E|------------------------------------------------------|

e|-----x--14b15r14-------------------------------------|
B|---x---------------15b17--15-14----------------------|
G|-x------------------------------14---------------12--|
D|-----------------------------------14-12-11-9-7------|
A|-----------------------------------------------------|
E|-----------------------------------------------------|

e|------------------------------------------------|
B|------------------------------------------------|
G|-11-9-7-11p9-9/7-7-----9p7---7-9-11-11b12-------|
D|---------------------------9--------------------|
A|------------------------------------------------|
E|------------------------------------------------|


e|--------15-14-12--------------|
B|------x----------15-12--------|
G|----x------------------12-----|
D|--------------------------12--|
A|------------------------------|
E|------------------------------|



e|-------------|-------------------------------|
B|-------------|-------------------------------|
G|-------------|--11b12-9b11r9-9b11r9p7--------|
D|-10\9--9/7---|-------------------------7/9\7-|
A|-------------|-------------------------------|
E|-------------|-------------------------------|





solo 2

e|----------------------------------------------------------------------10|
B|------------------------------------------10----10-12-12b15r12p10--12---|
G|-(7)-9-9b11-9b11r9p7---7h9-9p7---7b---/11----11-------------------------|
D|---------------------9---------9----------------------------------------|
A|------------------------------------------------------------------------|
E|------------------------------------------------------------------------|

e|-------------------------------------------------7-9-9b10p7----7-------|
B|--------------10p7---7-------------------------7------------10---10b12-|
G|-7-9--r9p7---------9---9p7-------------7-------------------------------|
D|-----------9---------------9------7-7-9--9p7-9-------------------------|
A|------------------------------7/9--------------------------------------|
E|-----------------------------------------------------------------------|


e|-------------------------------------7-9-9b10p7----7-------|
B|--10p7---7-------------------------7------------10---10b12-|
G|-------9---9p7-------------7-------------------------------|
D|--------------9------7-7-9---9p7-9-------------------------|
A|-----------------7/9---------------------------------------|
E|-----------------------------------------------------------|



e|--------------7---------------------------------|
B|--10p7------7---10p7----------------------------|
G|-------9-9b---------9-r9p7--9-7-----------------|
D|--------------------------9-----9-7-------------|
A|------------------------------------9-8-7/5---5-|
E|--------------------------------------------7---|


e|---------------7--------------------------------------------------|
B|-------------7----10p7--------------------------------------------|
G|-7-7-7----9b-----------9--r9p7----9-7-----------------------------|
D|-------------------------------9------9p7-------------------------|
A|------------------------------------------9--7/5--7p5---5---5-7/--|
E|------------------------------------------------------7---7-------|



e|-------------------------7-------------|
B|-----------------------7---10----7-----|
G|--------------7-----9b--------9b--7--9-|
D|-7-7-7--9-9p7---9----------------------|
A|---------------------------------------|
E|---------------------------------------|


e|----------7-----------------------------------|
B|--------7---10p7------------------------------|
G|----9b-----------9-r9p7--9-7------------------|
D|-----------------------9-----9-7--------------|
A|--------------------------------9-8-7/5---5---|
E|----------------------------------------7-----|


e|----------------------------------------------7-----------|
B|-7b----7b------7---7--------------------------7-10p7--10b-|
G|-7b----7b-----7----7---9b11r9p7---7h9-9b(11)--------------|
D|----9-----9------9--------------9-------------------------|
A|----------------------------------------------------------|
E|----------------------------------------------------------|


e|-------7---------------------------------------------------|
B|-----7---10p7----------------------------------------------|
G|--9b----------9b--9-7---9p7---7--------------------------7-|
D|----------------------9-----9---9-7-9p7---7-----------9----|
A|----------------------------------------9---9-8-7-5--------|
E|----------------------------------------------------7------|


e|--------------------------------------|
B|-x-x-x-x--7----7-------------------7--|
G|-x-x-x-x--7----7------(9)--9v 9p7--7--|
D|-x-x-x-x---------9--7--9---------9----|
A|--------------------------------------|
E|--------------------------------------|


e|---------------------------------------|
B|----------------7---------------7------|
G|----------------7---------------7------|
D|--9p7---7-9p7------9p7---9p7------9p7--|
A|------9-------9--------9-----9--------9|
E|---------------------------------------|


e|----------------------|
B|-7-7-7---7-7-7--7-7---|
G|-7-7-7---7-7-7--7-7---|
D|----------------------|
A|----------------------|
E|----------------------|


e|--17/19-19-21-21b-21b-21-21b(22)r21b(22)-21b(22)-19h21919--|
B|-----------------------------------------------------------|
G|-----------------------------------------------------------|
D|-----------------------------------------------------------|
A|-----------------------------------------------------------|
E|-----------------------------------------------------------|


e|--------------------------------------------------------|
B|-17-17--17b---17b19r17p15----17----15-17-17b19r17p15----|
G|--------------------------16-------------------------16-|
D|--------------------------------------------------------|
A|--------------------------------------------------------|
E|--------------------------------------------------------|



e|----------------------------10-------12-12b(13)r12p10-12----------|
B|-----10-12---------/12--/12----12p10---------------------12-12p10-|
G|--11-------/9--7--------------------------------------------------|
D|-----------------9------------------------------------------------|
A|------------------------------------------------------------------|
E|------------------------------------------------------------------|


e|-----------------------------------------------|
B|--12b--12-10-----------------------------------|
G|-------------11/9-7--9p7---7-------------------|
D|-------------------------9---9p7--7------------|
A|--------------------------------9---9p7-7-9----|
E|---------------------------------------------10|


e|--------------------------|
B|-7-7-7---7-7-7--7-7-------|
G|-7-7-7---7-7-7--7-7-------|
D|--------------------------|
A|--------------------------|
E|--------------------------|
</code></pre>
